.home-container-wrapper {
    display: flex!important;
    gap: 10px;
}

.community-list {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.community-box {
    width: 100%;

    > div {
        height: 100%;
    
        > div {
            display: flex;
            justify-content: space-around;

            > div {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        img {
            width: 140px;
            height: 110px;
        }
    }
}

.post-link {
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 1199.5px) {
    .home-container-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .home-container-wrapper {
        flex-direction: column;
    }
}